---
# Splunk default configuration for local development
# This file is mounted to /tmp/defaults/default.yml in the container

splunk:
  # Admin credentials
  # Username: admin
  # Password: DevPassword123!
  password: "DevPassword123!"

  # HTTP Event Collector configuration
  hec:
    enable: true
    port: 8088
    ssl: false
    token: "edictflow-dev-token"

  # Indexes configuration
  conf:
    indexes:
      directory: /opt/splunk/etc/apps/search/local
      content:
        edictflow:
          homePath: $SPLUNK_DB/edictflow/db
          coldPath: $SPLUNK_DB/edictflow/colddb
          thawedPath: $SPLUNK_DB/edictflow/thaweddb
          frozenTimePeriodInSecs: 604800  # 7 days retention for dev
          maxTotalDataSizeMB: 5120  # 5GB max

    inputs:
      directory: /opt/splunk/etc/apps/search/local
      content:
        http:
          disabled: 0
          enableSSL: 0
          port: 8088

        "http://edictflow":
          disabled: 0
          token: edictflow-dev-token
          index: edictflow
          sourcetype: edictflow:metrics

    props:
      directory: /opt/splunk/etc/apps/search/local
      content:
        "edictflow:metrics":
          TIME_FORMAT: "%s.%3N"
          TIME_PREFIX: "\"time\":"
          MAX_TIMESTAMP_LOOKAHEAD: 20
          SHOULD_LINEMERGE: false
          KV_MODE: json
          TRUNCATE: 100000
